.app {
  text-align: center;
}

.app-header {
  color: black;
}

.container {
  @apply pb-4 mt-36 gap-6 flex flex-col items-center max-w-full;
}

.cssanimation,
.cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation span {
  display: inline-block;
}

.fadeInBottom {
  animation-name: fadeInBottom;
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}

/* Styles for the banner container */
.overflow-hidden {
  overflow: hidden;
}

/* Styles for the flex container */
.banner {
  animation: scrollRightToLeft 20s linear infinite;
  white-space: nowrap; /* Ensure images stay in a single line */
}

/* Animation to move the flex container from right to left */
@keyframes scrollRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Media query to disable animation when window width is above 1024px */
@media (min-width: 950px) {
  .no-scroll {
    animation: none;
  }
}

/* Media query to disable animation when window width is above 1024px */
@media (max-width: 950px) {
  .hide-image {
    display: none;
  }

  .container-button-demo {
    @apply flex-col items-center;
  }

  .button-demo {
    @apply w-full;
  }
}
